In [29]:
import pandas as pd 
data = { 
    'salary' :[100 ,200,200 ,300]
}
N =2 
df = pd.DataFrame(data)

pd.DataFrame({
    f'{N}' : [df.salary.sort_values(ascending=False).unique()[N]]})

     2
0  100